<div class="user-details">
<h2 data-start="67" data-end="86">
    기쁨재가복지센터 소개 🌿
</h2>
<p data-start="88" data-end="119">
    &nbsp;
</p>
<p data-start="88" data-end="119">
    기쁨재가복지센터 홈페이지를 방문해 주셔서 감사합니다.
</p>
<p data-start="88" data-end="119">
    &nbsp;
</p>
<p data-start="121" data-end="251">
    우리 사회는 급격한 고령화로 인해 노인 복지의 필요성이 점점 더 커지고 있습니다.<br>
    &nbsp;
</p>
<p data-start="121" data-end="251">
    이에 국가에서는 노인장기요양보험 제도를 도입하여 어르신들이 보다 안정적이고 행복한 노후를 보낼 수 있도록 다양한 복지 정책을 시행하고 있습니다.
</p>
<p data-start="253" data-end="395">
    &nbsp;
</p>
<p data-start="253" data-end="395">
    저희 기쁨재가복지센터는 이러한 사회적 변화에 발맞추어, 전문성과 체계성을 갖춘 재가복지서비스를 제공하고 있습니다.<br>
    &nbsp;
</p>
<p data-start="253" data-end="395">
    방문요양과 방문목욕 등 맞춤형 서비스를 통해 어르신들의 일상에 안전과 편안함을 더하며, 삶의 질을 높이는 데 최선을 다하고 있습니다.
</p>
<p data-start="397" data-end="483">
    &nbsp;
</p>
<p data-start="397" data-end="483">
    또한, 단순한 돌봄을 넘어 어르신들의 존엄과 가치를 존중하고, 남은 삶의 여정 속에서 작은 행복과 희망을 느끼실 수 있도록 진심을 다해 함께하겠습니다.
</p>
<p data-start="485" data-end="555">
    &nbsp;
</p>
<p data-start="485" data-end="555">
    앞으로도 기쁨재가복지센터는 전문적인 서비스와 따뜻한 마음으로 지역 사회의 신뢰받는 복지기관이 될 수 있도록 노력하겠습니다.
</p>
<p data-start="557" data-end="565">
    &nbsp;
</p>
<p data-start="557" data-end="565">
    감사합니다.
</p>